*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

div .content {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    color: red;
}

